@tailwind base;
@tailwind components;
@tailwind utilities;

.projects .slick-slide.slick-center  {
  transform: scale(1);
  opacity: 1;
}

.projects .slick-slide {
  transform: scaleY(0.7);
  opacity: 0.6;
}

.projects .slick-dots li button:before {
  color: #FFF;
}